<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BustrackSV - Login</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <header class="header">
    <h1 class="app-title">BustrackSV</h1>
  </header>

  <main class="login-container">
    <section class="login-box">
      <h2 class="login-title">Login</h2>

      <form class="login-form" id="loginForm">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <div class="button-group">
          <button type="submit" class="btn">Login</button>
          <button type="button" class="btn secondary" onclick="window.location.href='register.html'">Register</button></a>
        </div>
      </form>
    </section>
  </main>
  <div id="toast-wrap"></div>
  <footer class="footer">
    <p>&copy; 2025 BustrackSV</p>
  </footer>


  <script type="module">    
    import { toast, openModal, setThemeToggle } from "./assets/js/ui.js";
    import { api } from "./assets/js/api.js";
    import { storage } from "./assets/js/storage.js";
    
    // Importante: NO auto-redireccionamos si hay token. Mostramos el form siempre.
    const form = document.getElementById('loginForm');
    form.addEventListener('submit', async (e)=>{      
      e.preventDefault();
      const email = document.getElementById('email').value.trim();
      const pass  = document.getElementById('password').value.trim();
      try{
        const r = await api.login(email, pass);
        //storage.token = r.token; storage.user = r.user; el backend no genera tokens aun
        toast('Inicio de sesión correcto','ok');
        setTimeout(()=> location.href='./dashboard.html', 1500);
      }catch(err){ toast(err.message || 'Credenciales inválidas','bad'); }
    });
  </script>
</body>
</html>
